<%= javascript_include_tag "prototype" %>

<script>
	var tt_cancel_destination = "/clinic"; // /properties"
	var selected_roles = [];
	var privilegeIndex = <%= @privilege_index.to_json %>;
	var rolePrivileges = <%= @role_privileges.to_json %>;
	var dummyFlag = true;

	function showSelected() {
		role = $('role').value;
		selected_roles = rolePrivileges[role];
		selected_roles = selected_roles.split(',');

		for (x = 0 ; x < selected_roles.length; x++) {
			position = privilegeIndex[selected_roles[x]];
			updateTouchscreenInputForSelect($("optionValue" + position));
		}

   }

  function reset() {
    roles = (document.getElementById('touchscreenInput' + tstCurrentPage).value).split(';');
    options = document.getElementsByTagName('li');
    for (x = 0 ; x < roles.length ; x++) {
      for (i = 0 ; i < options.length ; i++) {
        if (options[i].getAttribute('tstvalue') == roles[x]) {
          updateTouchscreenInputForSelect($("optionValue" + i));
        }
      }
    }
    selected_roles = [];
  }

  function changeAttributes() {
    $('backButton').setAttribute("onmousedown","reset();gotoPage(0)");
  }
</script>

<style>
  #tt_page_select_activities .options { height: 506px; }
  .tt_controls_select_activities #clearButton { display: none; }
</style>


<form method = 'post' action = '/properties/set_role_privileges'>

  <%= text_field :role , :title ,
      :id => 'role' , 
      :helpText => 'User role', 
      :tt_onUnLoad => '',
      :ajaxURL => '/user/role/Role?field=role&value='%>


  <%= select_tag 'role[privileges][]', 
      options_for_select(@privileges), 
      :helpText => "Select activities" ,
      :condition => "dummyFlag;" ,
      :id => 'activities' ,
      :tt_onLoad => 'showSelected();',
      :multiple =>  true %>
</form>
